body {
  padding: 0;
}
.ant-layout-content {
  min-height: 600px;
  padding: 40px 0;
  width: 80%;
  margin: auto;
  .ant-col {
    .ant-card-cover {
      img {
        height: 550px;
      }
    }
  }
  .product-wishlist {
    border-radius: 30px;
    border: solid 1px;
    width: 30px;
    height: 30px;
    background-color: #c39d65;
    bottom: 25px;
    right: 25px;
    position: absolute;
    svg {
      color: #ffffff;
      width: 15px;
    }
  }
}
.ant-drawer-content-wrapper {
  min-width: 500px;
}
.cart-container {
  max-height: 650px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
  }