.customer-menu {
    width: 30%;
    height: fit-content;
}
.ant-layout-content {
    display: flex;
    justify-content: space-between;
}
.customer-content {
    width: 65%;
    .customer-save {
        margin-bottom: 0;
        .ant-col {
            margin-bottom: 20px;
        }
        .ant-form-item-control-input-content {
            flex: none;
        }
    }
    .ant-form {
        width: 100%;
        display: flex;
    }
}