.customer-content {
    width: 100%;
    .customer-save {
        margin-bottom: 0;
        .ant-col {
            margin-bottom: 20px;
        }
        .ant-form-item-control-input-content {
            flex: none;
        }
    }
    .ant-form {
        width: 100%;
        display: flex;
    }
}