.customer-menu {
    width: 30%;
    height: fit-content;
}
.ant-layout-content {
    display: flex;
    justify-content: space-between;
}
.customer-content {
    width: 65%;
    .customer-save {
        .ant-form-item-control-input-content {
            flex: none;
        }
    }
}